@page "/cosplay/{CosplayId:guid}/cosplayitem/{CosplayItemId:guid}"
@inject ICosplayItemService CosplayItemService
@using CosNet.Shared.DTOs.CosplayItem

<h1>@cosplayItem.Name</h1>
<p>@cosplayItem.Description</p>
<h2>Info</h2>
<div>
    <div>Status: @cosplayItem.Status</div>
    <div>Price: @cosplayItem.Price</div>
    <div>Due Date: @cosplayItem.DueDate</div>
    @if (cosplayItem.IsMade)
    {
        <div>Work Time: @cosplayItem.WorkTimeHours : @cosplayItem.WorkTimeMinutes</div>
        <div>Progress: @cosplayItem.Progress %</div>
    }
    else
    {
        <div>Buy Link: @cosplayItem.BuyLink</div>
    }
</div>
<img class="cosplay-form-image" src="https://placekitten.com/600/600" alt="Picture of the cosplay">
<a class="cosplay-show-edit-btn" href="cosplay/@CosplayId/cosplayitem/@CosplayItemId/edit">
    <img class="cosplay-show-edit-btn-icon" src="assets/icons/edit.svg" alt="Edit" />
</a>

@code {
    public CosplayItemDTO cosplayItem = new CosplayItemDTO();

    [Parameter]
    public Guid CosplayId { get; set; }

    [Parameter]
    public Guid CosplayItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cosplayItem = await CosplayItemService.GetCosplayItemAsync(CosplayId, CosplayItemId);
    }
}
